 
 <br/>
 <h2>{{newPostCtrl.header}}</h2>
 <hr/>

 <form ng-submit="newPostCtrl.addNewPost()" name="newPostForm" >
  <div class="form-group"
  ng-class="{ 'has-danger': newPostForm.header.$invalid && newPostForm.header.$dirty }">
    <input type="text" 
      class="form-control form-control-sm" id="header" name="header"
      ng-class="{ 'form-control-dange': newPostForm.header.$invalid && newPostForm.header.$dirty }"
      placeholder="header *"
      required
     ng-model="newPost.header">
     <div class="form-control-feedback" ng-if="newPostForm.header.$invalid && newPostForm.header.$dirty && newPostForm.header.$error.required">Header required.</div>
  </div>
  <div class="form-group">
    <textarea type="textarea" class="form-control form-control-sm" id="text" name="text"
    placeholder="text"
    rows="5"
    ng-model="newPost.text"></textarea>
  </div>
  <div class="form-group"
   ng-class="{ 'has-danger': newPostForm.author.$invalid && newPostForm.author.$dirty }">
    <input type="text" class="form-control form-control-sm" id="author" name="author"
    ng-class="{ 'form-control-danger': newPostForm.author.$invalid && newPostForm.author.$dirty }"
    placeholder="author *"
    required
    ng-model="newPost.author">
     <div class="form-control-feedback" ng-if="newPostForm.author.$invalid && newPostForm.author.$dirty && newPostForm.author.$error.required">Author required.</div>
  </div>
  <button type="submit" class="btn btn-primary" ng-disabled="newPostForm.$invalid">Add Post</button>
</form>
