
<form ng-if="$ctrl.isNewPost" ng-submit="$ctrl.savePost($ctrl.post)">
  <div class="form-group" ng-if="$ctrl.isNewPost">
    <input ng-model="$ctrl.post.text" required class="form-control input-sm" type="text" id="postText">
  </div>
</form>


<div ng-if="!$ctrl.isNewPost">
  <blockquote>
    <h4 marksearch >{{ $ctrl.post.header }}</h4>
    <p marksearch >{{$ctrl.post.text}}</p>
    <small marksearch >{{$ctrl.post.author}}    <cite title="Source Title">({{ $ctrl.post.viewersCount }} viewers)</cite></small>
    <div>
      <a ng-class="{'active': mode.showReplay}" ng-click="$ctrl.toggelMode('Replay')" class="btn btn-primary btn-xs">Replay</a>
      <a ng-class="{'active': mode.showDetails}" ng-click="$ctrl.toggelMode('Details')" class="btn btn-default btn-xs">Show Replays <span class="badge">{{ $ctrl.replayCount }}</span></a>
      <a ng-click="$ctrl.deletePost($ctrl.post)" class="btn btn-danger btn-xs">Delete</a>
    </div>
    <div ng-if="mode.showReplay">
      <hr>
      <post  parent-post="$ctrl.post" on-post-change="$ctrl._onPostChange($event)"></post>
    </div>

    <div ng-if="$ctrl.posts && mode.showDetails ">
      <post ng-repeat="item in $ctrl.posts | filter:$ctrl.searchText | orderBy:'$index':true" post="item"  on-post-change="$ctrl._onPostChange($event)" ></post>
    </div>
  </blockquote>
</div>