
<div class="post_div">
<form ng-if="$ctrl.isNewPost" ng-submit="$ctrl.savePost($ctrl.post)" class="form-inline replay-container">
  <button type="submit" class="btn btn-primary">Post</button>
  <div class="form-group">
    <input class="post_text_input"  ng-model="$ctrl.post.text" type="text" required class="form-control" id="text" placeholder="{{ $ctrl.parentPost ? 'RE: ' + $ctrl.parentPost.text : 'new post' }}">
  </div>
</form>

<div ng-if="!$ctrl.isNewPost">
  <h5> {{$ctrl.post.text}} <small># {{$ctrl.post.author}}</small>
    <img class="delete-post-img" ng-click="$ctrl.deletePost($ctrl.post)" src="images/delete-property-xxl.png" alt="delete"/>
  </h5>     
  <post parent-post="$ctrl.post" on-post-change="$ctrl._onPostChange($event)"></post>
</div>

<div ng-if="$ctrl.posts">
   <post ng-repeat="item in $ctrl.posts | orderBy:'$index':true" post="item"  on-post-change="$ctrl._onPostChange($event)" ></post>
</div>
</div>