<div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">{{ navCtrl.appName }}</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" id="themes">Posts <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="#/post/new">New Post</a></li>
                <li class="divider"></li>
                <li><a href="#/posts">Post List</a></li>
              </ul>
            </li>
            <li>
              <a href="#/about">About</a>
            </li>

          <search></search>  
          
          <ul ng-if="navCtrl.loginUser" class="nav navbar-nav navbar-right">
            <li><a href="#/login">Logout</a></li>
            <li><a href="#/login">Hello {{ navCtrl.loginUser.firstName }}</a></li>
          </ul>

          <ul ng-if="!navCtrl.loginUser" class="nav navbar-nav navbar-right">
            <li><a href="#/login">Login</a></li>
          </ul>

        </div>
      </div>
    </div>